<p>Hello <%= @user.username %>, </p>

<p>Welcome to RisingTube, the best website to promote and discover new Youtube channels. </p>

<p>On RisingTube only small channels can be displayed, and the best videos get votes and visibility. </p>

<p>Stop spamming Youtube video comments and start building a reliable community !! </p>

See ya! <br>
Mathieu
