<p>Hi <%= @user.email %>,</p>

<p>Welcome to RisingTube, the best website to promote your Youtube / Vimeo / Facebook channel.<br>
On RisingTube only small channels can be displayed, and the best videos get votes and visibility.<br>
Stop spamming Youtube video comments and start building a reliable community</p>

See ya!<br>
Mathieu