<section class="price-1">
  <div class="container">
    <div class="heading">
      <h1>Now, small Youtubers have a chance</h1>
      <p>Being discovered when you are a small Youtuber <b>is hard</b>
        <br>Post your video, get upvotes and start building your community
      </p>
    </div>

    <% if params[:period] == "last_week" %>
      <h2>Last week best videos</h2>
      <%= render "shared/sort_menu" %>
      <%= render "shared/content_last_week" %>
    <% else %>
      <h2>Best videos of the week</h2>
      <%= render "shared/sort_menu" %>
      <%= render "shared/content_current_week" %>
    <% end %>
  </div>
</section>

<% content_for :title, "RisingTube - Help small Youtubers to build a community" %>



