<section class="price-1">
  <div class="container">
    <h3>Vidéos du jour</h3>
    <p class="lead">Les meilleures vidéos de la journée</p>
    <div class="row plans">
      <% @videos.each do |video| %>
        <div class="col-sm-8 col-sm-offset-2">
          <div class="plan">
            <div class="title"><%= link_to video.title, video_path(:show) %>
            </div>
            <div class="description">
              <%= video.description %>
            </div>
            <a class="btn btn-primary" href="#">Upvote</a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
