<section class="price-1">
  <div class="container">
    <div class="heading">
      <h1>The concept</h1>
      <p>Helping Youtubers with less than 3000 subscribers
        <br>Share and vote for the best videos
      </p>
      <p><%= link_to "Post a new video", new_video_path, :class => "btn btn-danger post-button" %></p>
    </div>
    <h2>Best videos of the day</h2>
    <div class="row plans">
      <% @videos.each do |video| %>
        <div class="col-xs-8 col-xs-offset-2">
          <div class="plan">
            <div class="first_line col-xs-12">
              <div class="image col-xs-12 col-sm-4">
                <%= cl_image_tag video.photo, height: 130, width: 210, crop: :fill %>
              </div>
              <div class="title col-xs-12 col-sm-8">
                <%= link_to video.title, video_path(:show) %>
              </div>
              <div class="description">
                <%= video.description %>
              </div>
            </div>
            <div class="second_line col-xs-9">
              <ul>
                <li class="author"><a href="www.lol.com"><i class="fa fa-user" aria-hidden="true"></i> David Vincent</a></li>
                <li class="category"><a href="www.lol.com"><i class="fa fa-tag" aria-hidden="true"></i> Category</a></li>
                <li class="channel"><a href="ww.lol.com"><i class="fa fa-desktop" aria-hidden="true"></i> LOL Channel</a></li>
              </ul>
            </div>
            <div class="button">
              <a class="btn btn-default btn-sm" href="#">UPVOTE</a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
