<p>Hello <%= @user.username %>,</p>

<p>I have a good news for you</p>

<p>Your video : "<%= @video.title %>" has been validated !</p>

<p>Invite your friends to vote for it and get a chance to win 30$ on Amazon !</p>

<p>Mathieu</p>