<section class="price-1">
  <div class="container">
    <div class="heading_content col-sm-10 col-sm-offset-1">
      <h1>Small Youtubers, you can succeed on Youtube !</h1>
      <div class="content">
        <h2>Rising...What ?</h2>
        <p>Being a Youtuber is HARD ! Especially when you start. You spend hours to write, play, edit your video and what ? You get maybe 100 / 500 views, mainly from your friends or relatives. Even though your video is good, nodody sees it. You need attention, a place where small and big channels can compete equally</p>
        <p>Youtube doesn't give a shot about small Youtubers. Trending videos are only for huge Youtubers, and you're invisible if you have less than 10.000 subscribers. Your only way to success is to make a huge buzz or having a network who shares your content. Being discovered when you start is too hard. You have a knife, Youtubers with 100.000 subscribers and more have a tank.</p>
        <p>RisingTube has one ambition. Give visibility to the best contents, no matter the amount of suscribers you have</p>

        <h2>People loves surprise and new contents</h2>
        <p>Discover new (good) Youtubers is hard. This website is not only for Youtubers, but also for help people who are bored to see ALWAYS the same people in trending / recommandation, etc.</p> <p>As a viewer, I love seing new faces, new jokes, new stories. I like the Youtubers I follow, but it's never bad to have some surprises and discover new talents before everybody</p>

        <h2>Who Am I ?</h2>
        <p>My name is <a href="http://www.mathieu-martinot.com" target="_blank">Mathieu Martinot Dubary</a>, I'm French and I live in Canada. I tried the Youtube experience and found very difficult to share my content without spamming my friends or other Youtube channels. I needed a place to post my content and get objective reviews, or at least views. I like fair situations. Good content = views / Bad content = nothing, simple.</p>
        <p>I wanted to create a website like this. On RisingTube people needs to create and account and verify their email before voting. All videos are reviewed before publishing. The goal is to prevent cheating and give the same opportunity to everybody.</p>
        <p>Post your video, get updvotes and start building a community</p>
        <p>Cheers,<br>
          Mathieu</p>
      </div>
    </div>
  </div>
</section>