<section class="price-1">
  <div class="container">
    <div class="heading_content col-sm-10 col-sm-offset-1">
      <h1>Even the little guys can succeed on Youtube too!</h1>
      <div class="content">
        <h2>Rising...What ?</h2>
        <p>Being a YouTuber is hard, especially when you first start out. You spend hours writing, playing, and editing your videos and for what? You get maybe 100 - 500 views and those mainly come from friends and family members. So even if your video is good, nobody actually sees it. What you need is attention - a place where channels of all sizes can compete with one another.</p>
        <p>Being discovered when you’re first starting out is exceptionally hard. It’s like bringing a knife to a gun fight. To be frank, websites like YouTube don’t give a shit about the little guys. Trending videos are reserved for the YouTube famous and you're basically invisible if you have less than 10,000 subscribers. Then your only real path to success is either going viral or being connected with a network that shares your content. </p>
        <p>RisingTube aims to provide viewers with the best content available on the platform, no matter how many or how few subscribers you may have.</p>

        <h2>People loves surprise</h2>
        <p>Discovering rising talent is almost as hard as going viral. Because of this, RisingTube serves both YouTubers and viewers who are sick of seeing the same content recommendations time and time again.</p> <p>As a viewer, I love discovering fresh talent, new videos, and meaningful stories. I do enjoy the handful of YouTubers I follow but I enjoy a good surprise just as much as anyone else. </p>

        <h2>Who Am I ?</h2>
        <p>My name is <a href="http://www.mathieu-martinot.com" target="_blank">Mathieu Martinot Dubary</a>, I'm French and I live in Canada. and, like many others, I tried using YouTube and I found it impossible to share my content without spamming my friends and/or other channels. I thought I needed a new platform to post my content to in order to get views, which is why I founded this site. </p>
        <p>Thanks to RisingTube, the playing field is now level, so good content gets viewed while bad content gets ignored. Here on RisingTube, it’s necessary to create email-verified accounts before voting on a particular video. Similarly, all videos are reviewed before they’re posted. The goal in doing this is to prevent cheating and give every user the same opportunity to rise up like the stars they are.</p>
        <p>Post your video, get upvotes, and start building your community.</p>
        <p>Cheers,<br>
          Mathieu</p>
      </div>
    </div>
  </div>
</section>