<section class="price-1">
  <div class="container">
    <div class="heading">
      <h1>The concept</h1>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in porttitor odio. Morbi ac velit laoreet orci dapibus egestas. Praesent ultrices ex a lacus pretium elementum. Proin at elit et quam ultricies fermentum eu eu magna. Nulla vulputate nulla sapien, vel elementum nisl maximus at. Sed posuere imperdiet quam. Pellentesque id nulla eget nulla venenatis ultricies. Praesent nec ipsum a elit dictum lobortis.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in porttitor odio. Morbi ac velit laoreet orci dapibus egestas. Praesent ultrices ex a lacus pretium elementum. Proin at elit et quam ultricies fermentum eu eu magna. Nulla vulputate nulla sapien, vel elementum nisl maximus at. Sed posuere imperdiet quam. Pellentesque id nulla eget nulla venenatis ultricies. Praesent nec ipsum a elit dictum lobortis.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in porttitor odio. Morbi ac velit laoreet orci dapibus egestas. Praesent ultrices ex a lacus pretium elementum. Proin at elit et quam ultricies fermentum eu eu magna. Nulla vulputate nulla sapien, vel elementum nisl maximus at. Sed posuere imperdiet quam. Pellentesque id nulla eget nulla venenatis ultricies. Praesent nec ipsum a elit dictum lobortis.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in porttitor odio. Morbi ac velit laoreet orci dapibus egestas. Praesent ultrices ex a lacus pretium elementum. Proin at elit et quam ultricies fermentum eu eu magna. Nulla vulputate nulla sapien, vel elementum nisl maximus at. Sed posuere imperdiet quam. Pellentesque id nulla eget nulla venenatis ultricies. Praesent nec ipsum a elit dictum lobortis.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in porttitor odio. Morbi ac velit laoreet orci dapibus egestas. Praesent ultrices ex a lacus pretium elementum. Proin at elit et quam ultricies fermentum eu eu magna. Nulla vulputate nulla sapien, vel elementum nisl maximus at. Sed posuere imperdiet quam. Pellentesque id nulla eget nulla venenatis ultricies. Praesent nec ipsum a elit dictum lobortis.</p>
      </diV>
    </div>
  </div>
</section>