<section class="price-1">
  <div class="container">
    <div class="heading_content col-sm-10 col-sm-offset-1">
      <h1>50 upvotes = 30$ for you !</h1>
      <div class="content">
        <h2>Our goal, helping small youtubers to grow</h2>

        <p>If you get 50 upvotes* on your video, you'll receive a 30$ Amazon Gift Card. It's free money you can spend to buy a better camera, microphone or whatever you can. Actually you can buy what you want, it's your money :)</p>

        <h2>The good ways to get your 50 upvotes</h2>
        <p>Having many upvotes give a lot of visibility for your video &  Youtube channel. You'll be ranked at the top for at least 7 days. The good ways to get upvotes is first to make a good video. Many users from RisingTube will vote for you if your video is nice. Also, you can <b>invite your friends / community to vote for you</b></p>

        <h2>Rules</h2>
        <p> - All upvotes will be verified. So don't create 50 fake accounts just to vote for you :)</p>
        <p> - Only for videos posted after the 10 of April</p>
        <p> - You have 7 days (maximum) after the submission of the video to get the upvotes</p>

        <p>Cheers,<br>
          Mathieu</p>
      </div>
    </div>
  </div>
</section>

<% content_for :title, "RisingTube contest - 30$ for 50 upvotes" %>
