<p>Hello <%= @user.username %>, </p>

<p>Welcome to RisingTube, the best new website used to discover and promote YouTube channels! </p>

<p>Here on RisingTube, only small channels are displayed and only the best videos gain popularity and votes.</p>

<p>So stop spamming YouTube’s video comments and start building a reliable community instead. </p>

<p>Before voting and/or posting, you must confirm your account email using the link below: </p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

See ya! <br>
Mathieu
